.homeicon{
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    padding: 0.75rem 0 1rem 3.6rem ;
    width: 100%;
    display: flex;
    column-gap: 2.2rem;
    box-shadow: 0 0rem 0.5rem 0 rgba(0, 0, 0, 0.5);
    
}
.navbar .search-bar{
    display: flex;
}

.search-bar .search-text{
    width: 45rem;
    min-width: 5rem;
    min-height: 2.5rem;
    background-color: #f1f5ff;
    box-sizing: border-box;
    border: lightblue;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 1rem;
    outline: none;

}
.search-bar .search-button{
    background-color: #f1f5ff;
    box-sizing: border-box;
    border: lightblue;
    border-radius: 0.4rem 0 0 0.4rem;
    outline: none;
    padding: 0 0.3rem 0 0.6rem;
}

.navbar .login-button button{
    display: flex;
    border: solid;
    min-height: 2.5rem;
}

.navbar .login-button span{
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}



.login-content{
    display: none
}