.homeicon{
    font-family: 'Times New Roman', Times, serif;
}

.search-text{

}
.search-button{
    padding: 6px 10px;
    background: rgb(220, 26, 26);
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}